<h1>Home Page</h1>

<% if current_user%>
  <p>Welcome Home, <%= current_user.first_name %></p>
  <p><a href="/videos/new">Post a Youtube Video</a></p>
  <a href="logout">Logout</a>
<% else %>
  <a href="/login">Login</a>
<% end %>
